[Desktop Entry]
Type=Application
Exec=/opt/aitekinfo/main.sh
Icon=/usr/share/pixmaps/aitekinfo_icon.jpg
Name=АйтекИнфо
Name[ru]=АйтекИнфо
Categories=None;

